<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User-Management</title>
</head>
<body>
  <form action="/user" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  <table border="1" cellspacing="0">
    <thead>
      <tr>
        <th>Teacher Name</th>
        <th>Teacher ID</th>
        <th>Role</th>
        <th>Allowed Subjects</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ashraf Ali Miya</td>
        <td>111</td>
        <td>Teacher</td>
        <td>{Computer,6,bhrikuti},{computer,7,koshi}</td>
        <td>computer</td>
        <td>computer@789</td>
      </tr>
    </tbody>
  </table>
</body>
</html>