<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go to Question</title>
</head>
<body>
  Dear Teacher,
  Your subject question format has not been set up yet. Please set it up first to open this.
  <a href="/admin/subject">Set Question Format Now</a>
</body>
</html>